	<app-header></app-header>
	
	<div class="col-md-12">
	  <router-outlet></router-outlet>
	</div>


    <!-- Footer Section Start -->
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <div class="logos_header">
                  <h3 class="footer-logo"><img style="width: 90%" src="assets/img/lapiglogo-resize.png" alt=""></h3>
                </div>
                <div class="textwidget">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis.</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">CEPF Cerrado</h3>
              <ul class="footer-link">
                <li><a href="#">O Projeto</a></li>
                <li><a href="#">O Bioma Cerrado</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Mecanismos de Ouvidoria</a></li>
                <li><a href="#">Política de Salva Guarda</a></li>           
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Produtos</h3>
              <ul class="footer-link">
                <li><a href="#">Biodiversidade</a></li>
                <li><a href="#">Imagens Aéreas</a></li>
                <li><a href="#">Literatura</a></li>
                <li><a href="#">Social</a></li>
                <li><a href="#">Uso do Solo</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contatos</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> Almeida Palmeiras, s/n - Chácaras Califórnia, GO <br> UFG - Universidade Federal de Goiás - Campus Samambaia </a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> +55 (62) 3521-1360 </a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> lapig.cepf@gmail.com </a>
                </li>
              </ul>
            </div>
          </div>
        </div>  
      </div> 
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2019 <a rel="nofollow" href="https://www.lapig.iesa.ufg.br">Lapig</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </footer> 
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>
