<app-header-pages></app-header-pages>

<div class="container">
	<h1 class="title_pages">{{ 'text_bioma_cerrado' | translate }}</h1>
	<div class="col-md-12">
		<br />
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/bioma.png" width="50%" alt="">
			<p>{{ 'text_novo_limite_bioma' | translate }}</p>
		</div>
		<br />
		<p>
				{{ 'text_o_bioma.paragrafo1' | translate }}
		</p>
		<br />
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado2.jpg" alt="">
			<p>{{ 'text_arquivo_pessoal' | translate }}</p>
		</div>
		<p>
			{{ 'text_o_bioma.paragrafo2' | translate }}
		</p>
		<p>
			{{ 'text_o_bioma.paragrafo3' | translate }}
		</p>
		<br />
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado3.jpg" alt="">
			<p>{{ 'text_fonte' | translate }}: http://cepfcerrado.iieb.org.br</p>
		</div>
		<p>
			{{ 'text_o_bioma.paragrafo4' | translate }}
		</p>
		<br />
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado4.jpg" alt="">
		</div>
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado5.jpg" alt="">
			<p>{{ 'text_fonte' | translate }}: http://cepfcerrado.iieb.org.br</p>
		</div>
		<p>
			{{ 'text_o_bioma.paragrafo5' | translate }}
		</p>
		<p>
			<b>{{ 'text_fonte' | translate }}: </b> <a href="http://www.mma.gov.br" target="_blank"> http://www.mma.gov.br </a>
		</p>
		</div>
</div>

<app-footer-pages></app-footer-pages>
	
	<!-- Go to Top Link -->
	<a href="#/cerrado" class="back-to-top">
		<i class="lni-arrow-up"></i>
	</a>
