<app-header-pages></app-header-pages>

<div class="container">
	<h1 class="title_pages">Políticas de salvaguardas</h1>
	<div class="col-md-12">
		<br />
		<p>
			Temos o entendimento de que o projeto liderado pelo LAPIG (Plataforma de Conhecimento do Cerrado) não possui
			salvaguardas ambientais ou sociais, por estar lidando com a disponibilização, via plataforma web - online, de
			informações geográficas cedidas por parceiros com projetos ambientais e sociais no Cerrado, muitos destes apoiados
			pelo próprio CEPF, ou cedidas por instituições públicas (nas três esferas de governo), os quais já possuem suas
			respectivas salvaguardas.
		</p>
		<p>
			Os problemas esperados em nosso projeto dizem mais respeito à acessibilidade a estas informações, por meio de
			visualização online na própria plataforma, ou por meio de download direto de nosso servidor de dados, com a definição
			de formatos e metadados, sendo os possíveis impactos:
		</p>
		<div class="paddind_lista">
			<p>
				1) Instabilidade do servidor de dados, devido à problemas com rede elétrica ou de internet, e consequentemente "queda"
				da plataforma, por um certo período de tempo.
			</p>
			<p>
				2) Dados desatualizados e/ou cartograficamente inconsistentes
			</p>
			<p>
				3) Dados sem a correta identificação e/ou categoria adequada, o que poderia levar aos usuários a downloads
				equivocados.
			</p>
			<p>
				4) Uso indevido das informações por terceiros.
			</p>
			<p>
				5) Descontinuidade da plataforma à longo prazo, por políticas institucionais da empresa de hospedagem (neste caso, e
				por enquanto, governo federal/MEC/UFG).
			</p>
			<p>
				6) Problemas técnicos em geral, especialmente a interrupção do serviço devido a um número elevado de acessos ao
				mesmo tempo, causando instabilidade na plataforma.
			</p>
			<p>
				7) Restrição de uso para algumas camadas de informações, cedidas por parceiros diretos ao CEPF/LAPIG, ou por
				instituições públicas/privadas.
			</p>
		</div>
		<br />
		<h5>
			Para mitigar estes impactos listamos abaixo a forma de mitigá-los:
		</h5>
		<div class="paddind_lista">
			<p>
				1) O servidor de dados está armazenado no Data Center da UFG. Estamos aproveitando toda a estrutura de redundância
				de nobreaks e geradores da universidade. Quanto a internet, a universidade possui redundância de links, fornecidos
				pela Rede Nacional de Pesquisa - RNP.
			</p>
			<p>
				2) Criar um cronograma de lançamentos e atualizações, fazer as correções de inconsistências ou pedir ao parceiro
				fonte que reenvie os dados de forma que estejam consistentes.
			</p>
			<p>
				3) O Lapig possui uma metodologia específica, na qual o dado passa por algumas fases antes de ser inserido na
				Plataforma. Nesta metodologia o dado passa pela identificação de possíveis erros.
			</p>
			<p>
				4) Será criado um termo de uso para que o usuário aceite antes de fazer o download do dado. Desta forma, o usuário
				estará ciente de que o uso fora das condições estabelecidas será de sua responsabilidade.
			</p>
			<p>
				5) Estas instâncias governamentais possuem significativa consistência para manutenção de plataformas ques estão
				ligadas a elas, conforme contrato Funape/UFG via Lapig com o CEPF. Caso venha a acontecer situações que
				desconfigurem esta atuação o Lapig em acordo com o CEPF poderá sugerir novos parceiros para esta função.
			</p>
			<p>
				6) Otimização do Banco de Dados para que ele suporte um número elevado de requisições. Automatização de cachês dos
				dados, para que as requisições se tornem mais leves, não sobrecarregando assim o servidor.
			</p>
			<p>
				7) Restrição de uso para algumas camadas de informações, cedidas por parceiros diretos ao CEPF/LAPIG, ou por
				instituições públicas/privadas. Existe a possibilidade da criação de login de acesso na plataforma o que permitirá
				se for o caso restringir a visualização e manipulação dos mesmos.
			</p>
		</div>
		<p style="text-align: right">Para Download do documento por completo click <a
				href="https://www.lapig.iesa.ufg.br/drive/index.php/s/7h10Fgf8oXlAb51" target="_blank">aqui!</a></p>
		<br />
		<h5>
			Ouvidoria
		</h5>
		<p>
			<b>Instituição executora:</b> Laboratório de Processamento de Imagens e Geoprocessamento (LAPIG)
		</p>
		<p>
			<b>Responsável:</b> Manuel Eduardo Ferreira
		</p>
		<p>
			<b>Reclamações, críticas e sugestões sobre este projeto devem ser enviadas para: </b> <u>lapig.cepf@gmail.com</u> e
			serão
			compartilhadas com a Diretoria de Doações do CEPF. As respostas serão dadas no prazo de 15 dias.
		</p>
		<p>
			Caso a resposta não tenha sido satisfatória, a reclamação pode ser enviada diretamente ao Diretor Executivo do CEPF
			no e-mail <u>cepfexecutive@conservation.org</u>. Se o reclamante ainda não estiver satisfeito com a resposta, poderá
			formalizar uma reclamação junto ao Banco Mundial <u>grievances@worldbank.org</u>. As reclamações poderão ser
			formalizadas
			também por parceiros, para os endereços abaixo:
		</p>
		<br />
		<p class="palign_center">
			<b>Laboratório de Processamento de Imagens e Geoprocessamento (LAPIG)</b> <br />
			CAMPUS II Samambaia<br />
			Cx. POSTAL 131 - Goiânia - GO<br />
			CEP: 74001-970<br />
			Fone: (62) 3521-1360/(62) 3521-1096<br />
		</p>
	</div>
</div>

<app-footer-pages></app-footer-pages>

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
	<i class="lni-arrow-up"></i>
</a>
