<app-header-pages></app-header-pages>

<div class="container">
	<h1 class="title_pages">{{ 'text_salva_guarda.title' | translate }}</h1>
	<div class="col-md-12">
		<br />
		<p>
			{{ 'text_salva_guarda.paragrafo1' | translate }}
		</p>
		<p>
			{{ 'text_salva_guarda.paragrafo2' | translate }}
		</p>
		<div class="paddind_lista">
			<p>
				{{ 'text_salva_guarda.paragrafo3' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo4' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo5' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo6' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo7' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo8' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo9' | translate }}
			</p>
		</div>
		<br />
		<h5>
			{{ 'text_salva_guarda.paragrafo10' | translate }}
		</h5>
		<div class="paddind_lista">
			<p>
				{{ 'text_salva_guarda.paragrafo11' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo12' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo13' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo14' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo15' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo16' | translate }}
			</p>
			<p>
				{{ 'text_salva_guarda.paragrafo17' | translate }}
			</p>
		</div>
		<p style="text-align: right">{{ 'text_salva_guarda.download' | translate }}<a
				href="{{ 'text_salva_guarda.download_link' | translate }}"
				target="_blank">{{ 'text_salva_guarda.download_aqui' | translate }}</a></p>
		<br />
		<h5>
			{{ 'title_ouvidoria' | translate }}
		</h5>
		<p>
			<b>{{ 'text_ouvidoria.instituicao.label' | translate }}</b>
			{{ 'text_ouvidoria.instituicao.text' | translate }}
		</p>
		<p>
			<b>{{ 'text_ouvidoria.responsavel.label' | translate }}</b>
			{{ 'text_ouvidoria.responsavel.text' | translate }}
		</p>
		<p>
			<b>{{ 'text_ouvidoria.reclamacoes.label' | translate }}</b>
			{{ 'text_ouvidoria.reclamacoes.text' | translate }}
		</p>
		<p>
			{{ 'text_ouvidoria.outros' | translate }}
		</p>
		<br />
		<p class="palign_center">
			<b>{{ 'text_ouvidoria.endereco.name' | translate }}</b> <br />
			{{ 'text_ouvidoria.endereco.campus' | translate }}<br />
			{{ 'text_ouvidoria.endereco.city' | translate }}<br />
			{{ 'text_ouvidoria.endereco.cep' | translate }}<br />
			{{ 'text_ouvidoria.endereco.fone' | translate }}<br />
		</p>
	</div>
</div>

<app-footer-pages></app-footer-pages>

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
	<i class="lni-arrow-up"></i>
</a>
