<app-header-pages></app-header-pages>

<div class="container">
	<h1 class="title_pages">O Bioma Cerrado</h1>
	<div class="col-md-12">
		<br />
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado1.jpg" alt="">
			<p>Fonte: Arquivo pessoal</p>
		</div>
		<br />
		<p>
				O Cerrado é o segundo maior bioma da América do Sul, ocupando uma área de 2.036.448 km2, cerca de 22% do território
				nacional. A sua área contínua incide sobre os estados de Goiás, Tocantins, Mato Grosso, Mato Grosso do Sul, Minas
				Gerais, Bahia, Maranhão, Piauí, Rondônia, Paraná, São Paulo e Distrito Federal, além dos encraves no Amapá, Roraima
				e Amazonas. Neste espaço territorial encontram-se as nascentes das três maiores bacias hidrográficas da América do
				Sul (Amazônica/Tocantins, São Francisco e Prata), o que resulta em um elevado potencial aquífero e favorece a sua
				biodiversidade.
		</p>
		<br />
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado2.jpg" alt="">
			<p>Fonte: Arquivo pessoal</p>
		</div>
		<p>
			Considerado como um dos hotspots mundiais de biodiversidade, o Cerrado apresenta extrema abundância de espécies
			endêmicas e sofre uma excepcional perda de habitat. Do ponto de vista da diversidade biológica, o Cerrado brasileiro
			é reconhecido como a savana mais rica do mundo, abrigando 11.627 espécies de plantas nativas já catalogadas. Existe
			uma grande diversidade de habitats, que determinam uma notável alternância de espécies entre diferentes
			fitofisionomias. Cerca de 199 espécies de mamíferos são conhecidas, e a rica avifauna compreende cerca de 837
			espécies. Os números de peixes (1200 espécies), répteis (180 espécies) e anfíbios (150 espécies) são elevados. O
			número de peixes endêmicos não é conhecido, porém os valores são bastante altos para anfíbios e répteis: 28% e 17%,
			respectivamente. De acordo com estimativas recentes, o Cerrado é o refúgio de 13% das borboletas, 35% das abelhas e
			23% dos cupins dos trópicos.
		</p>
		<p>
			Além dos aspectos ambientais, o Cerrado tem grande importância social. Muitas populações sobrevivem de seus recursos
			naturais, incluindo etnias indígenas, quilombolas, geraizeiros, ribeirinhos, babaçueiras, vazanteiros e comunidades
			quilombolas que, juntas, fazem parte do patrimônio histórico e cultural brasileiro, e detêm um conhecimento
			tradicional de sua biodiversidade. Mais de 220 espécies têm uso medicinal e mais 416 podem ser usadas na recuperação
			de solos degradados, como barreiras contra o vento, proteção contra a erosão, ou para criar habitat de predadores
			naturais de pragas. Mais de 10 tipos de frutos comestíveis são regularmente consumidos pela população local e
			vendidos nos centros urbanos, como os frutos do Pequi (Caryocar brasiliense), Buriti (Mauritia flexuosa), Mangaba
			(Hancornia speciosa), Cagaita (Eugenia dysenterica), Bacupari (Salacia crassifolia), Cajuzinho do cerrado
			(Anacardium humile), Araticum (Annona crassifolia) e as sementes do Barú (Dipteryx alata).
		</p>
		<br />
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado3.jpg" alt="">
			<p>Fonte: http://cepfcerrado.iieb.org.br</p>
		</div>
		<p>
			Contudo, inúmeras espécies de plantas e animais correm risco de extinção. Estima-se que 20% das espécies nativas e
			endêmicas já não ocorram em áreas protegidas e que pelo menos 137 espécies de animais que ocorrem no Cerrado estão
			ameaçadas de extinção. Depois da Mata Atlântica, o Cerrado é o bioma brasileiro que mais sofreu alterações com a
			ocupação humana. Com a crescente pressão para a abertura de novas áreas, visando incrementar a produção de carne e
			grãos para exportação, tem havido um progressivo esgotamento dos recursos naturais da região. Nas três últimas
			décadas, o Cerrado vem sendo degradado pela expansão da fronteira agrícola brasileira. Além disso, o bioma Cerrado é
			palco de uma exploração extremamente predatória de seu material lenhoso para produção de carvão.
		</p>
		<br />
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado4.jpg" alt="">
		</div>
		<div class="img-submenu">
			<img src="../../../assets/img/submenus/cerrado5.jpg" alt="">
			<p>Fonte: http://cepfcerrado.iieb.org.br</p>
		</div>
		<p>
			Apesar do reconhecimento de sua importância biológica, de todos os hotspots mundiais, o Cerrado é o que possui a
			menor porcentagem de áreas sobre proteção integral. O Bioma apresenta 8,21% de seu território legalmente protegido
			por unidades de conservação; desse total, 2,85% são unidades de conservação de proteção integral e 5,36% de unidades
			de conservação de uso sustentável, incluindo RPPNs (0,07%).
		</p>
		<p>
			<b>Fonte: </b> <a href="http://www.mma.gov.br" target="_blank"> http://www.mma.gov.br </a>
		</p>
		</div>
</div>

<app-footer-pages></app-footer-pages>
	
	<!-- Go to Top Link -->
	<a href="#" class="back-to-top">
		<i class="lni-arrow-up"></i>
	</a>
