<app-header-pages></app-header-pages>

<div class="container">
	<h1 class="title_pages">Mecanismo de Ouvidoria</h1>
	<div class="col-md-12">
		<br />
		<h5 class="palign_center">
				Bem-vindo à ouvidoria da Plataforma de Conhecimento do Cerrado
		</h5>
		<br />
		<p>
			<b>Instituição executora:</b> Laboratório de Processamento de Imagens e Geoprocessamento (LAPIG)
		</p>
		<p>
			<b>Responsável:</b> Professor Manuel Eduardo Ferreira
		</p>
		<p>
			<b>Reclamações, críticas e sugestões sobre este projeto devem ser enviadas para: </b> <u>lapig.cepf@gmail.com</u>.
			Estas serão compartilhadas com a Diretoria de Doações do CEPF. Responderemos suas questões no prazo de até 15 dias.
		</p>
		<p>
			Caso a resposta não tenha sido satisfatória, a reclamação pode ser enviada diretamente ao Diretor Executivo do CEPF
			no e-mail <u>cepfexecutive@conservation.org</u>. Se o reclamante ainda não estiver satisfeito com a resposta, poderá
			formalizar uma reclamação junto ao Banco Mundial, pelo e-mail <u>grievances@worldbank.org</u>. As reclamações poderão
			ser formalizadas também por parceiros, para o endereço abaixo:
		</p>
		<br />
		<p class="palign_center">
			<b>Laboratório de Processamento de Imagens e Geoprocessamento (LAPIG)</b> <br/>
			CAMPUS II Samambaia<br />
			Cx. POSTAL 131 - Goiânia - GO<br />
			CEP: 74001-970<br />
			Fone: (62) 3521-1360<br />
		</p>
		</div>
</div>

<app-footer-pages></app-footer-pages>
	
	<!-- Go to Top Link -->
	<a href="#" class="back-to-top">
		<i class="lni-arrow-up"></i>
	</a>
