<app-header-pages></app-header-pages>

<div class="container">
	<h1 class="title_pages">{{ 'text_ouvidoria.title' | translate }}</h1>
	<div class="col-md-12">
		<br />
		<h5 class="palign_center">
				{{ 'text_ouvidoria.bem_vindo' | translate }}
		</h5>
		<br />
		<p>
			<b>{{ 'text_ouvidoria.instituicao.label' | translate }}</b> 
			{{ 'text_ouvidoria.instituicao.text' | translate }}
		</p>
		<p>
			<b>{{ 'text_ouvidoria.responsavel.label' | translate }}</b> 
			{{ 'text_ouvidoria.responsavel.text' | translate }}
		</p>
		<p>
			<b>{{ 'text_ouvidoria.reclamacoes.label' | translate }}</b>
			{{ 'text_ouvidoria.reclamacoes.text' | translate }}
		</p>
		<p>
			{{ 'text_ouvidoria.outros' | translate }}
		</p>
		<br />
		<p class="palign_center">
			<b>{{ 'text_ouvidoria.endereco.name' | translate }}</b> <br />
			{{ 'text_ouvidoria.endereco.campus' | translate }}<br />
			{{ 'text_ouvidoria.endereco.city' | translate }}<br />
			{{ 'text_ouvidoria.endereco.cep' | translate }}<br />
			{{ 'text_ouvidoria.endereco.fone' | translate }}<br />
		</p>
		</div>
</div>

<app-footer-pages></app-footer-pages>
	
	<!-- Go to Top Link -->
	<a href="#" class="back-to-top">
		<i class="lni-arrow-up"></i>
	</a>
