<app-header-pages></app-header-pages>

<div class="container">
	<h1 class="title_pages">{{ 'text_acoes_covid.title' | translate }}</h1>
	<div class="col-md-12">
		<br />
		<div class="img-submenu">
			<a href="https://covidgoias.ufg.br" target="_blank"><img src="../../../../assets/img/plataforms/covidgoias.jpg" alt=""></a>
			<p>https://covidgoias.ufg.br</p>
		</div>
		<br />
		<p>
			{{ 'text_acoes_covid.paragrafo1' | translate }}
		</p>
		<p>
			{{ 'text_acoes_covid.paragrafo2' | translate }}
		</p>
		<p>
			{{ 'text_acoes_covid.paragrafo3' | translate }}
		</p>
		<p>
			{{ 'text_acoes_covid.paragrafo4' | translate }}
		</p>
		<p>
			{{ 'text_acoes_covid.paragrafo5' | translate }}
		</p>
		<p>
			{{ 'text_acoes_covid.paragrafo6' | translate }}
		</p>
		<p>
			{{ 'text_acoes_covid.paragrafo7' | translate }}<a href="https://covidgoias.ufg.br"
				target="_blank">https://covidgoias.ufg.br</a>.
		</p>
		<br/>
		<img width="100%" src="../../../../assets/logo/partners.png">
</div>

<app-footer-pages></app-footer-pages>
	
	<!-- Go to Top Link -->
	<a href="#/covidgoias" class="back-to-top">
		<i class="lni-arrow-up"></i>
	</a>
