<app-header-pages></app-header-pages>

<div class="container">
	<h1 class="title_pages">UFG / LAPIG cria plataforma web para monitorar a COVID-19 no Cerrado Goiano.</h1>
	<div class="col-md-12">
		<br />
		<div class="img-submenu">
			<a href="https://covidgoias.ufg.br" target="_blank"><img src="../../../../assets/img/plataforms/covidgoias.jpg" alt=""></a>
			<p>https://covidgoias.ufg.br</p>
		</div>
		<br />
		<p>
			Neste momento de crise mundial da COVID-19, uma equipe multidisciplinar da Universidade Federal de Goiás (UFG), vinculada ao Laboratório de Processamento de Imagens e Geoprocessamento, desenvolveu uma <a href="https://covidgoias.ufg.br" target="_blank"> plataforma web que permite o monitoramento desta pandemia no Estado de Goiás</a>, em nível municipal. A solução busca atender tanto ao cidadão comum, que deseja acompanhar os números diários para os casos confirmados, quanto aos agentes públicos da área de saúde, planejadores e pesquisadores, que precisam de um leque mais amplo de informações para a tomada de decisões estratégicas. 
		</p>
		<p>
			Provavelmente, esta crise nos acompanhará por alguns anos, com impactos enormes na saúde e economia, de forma intermitente. De posse desses dados, epidemiologistas e planejadores, somada a outras carreiras nas três esferas da administração pública, podem agir preventivamente sobre a parcela da sociedade mais fragilizada neste momento, além de atuar a médio e longo prazo em outras ações no campo da "Geografia da saúde".
		</p>
		<p>
			No que tange às comunidades tradicionais e povos indígenas do Cerrado goiano, atendidos por projetos financiados pelo Critical Ecosystem Partnership Fund (CEPF) e Instituto Internacional de Educação do Brasil (IEB), esta ferramenta de monitoramento traz ainda outros benefícios, ao apresentar os riscos de disseminação e contágio pelo Coronavírus, bem como de enfrentamento à COVID-19, em localidades com baixa infraestrutura hospitalar e sanitária, normalmente desatendidas pelo poder público. 
		</p>
		<p>
			A plataforma apresenta informações gerais, como a extensão territorial, malha viária, demografia, incidência de casos confirmados pela COVID-19, localização de hospitais, e quantidade de leitos hospitalares total e disponíveis (nas categorias geral e UTIs). A este conjunto, são integrados dados censitários por faixa etária da população, renda, Índice de Vulnerabilidade à COVID, tendência de síndromes respiratórias, dente outras camadas geográficas. Projeções (cenários) sobre o avanço da contaminação também está disponível para todo o Estado ou para cada município. 
		</p>
		<p>
			Neste contexto, disponibilizamos a Plataforma COVID GOIÁS, acessada pelo link https://covidgoias.ufg.br, dentro da Plataforma de Conhecimento do Cerrado, como um serviço temporário neste período de crise, mas que poderá ser expandida para todo o Cerrado, incorporando outras endemias da região. A ferramenta está disponível para computadores e dispositivos móveis, sem a necessidade de instaladores. 
		</p>
		<p>
			Havendo interesse por parte dos pesquisadores, legisladores, organizações não governamentais e sociedade em geral, pertencentes e/ou atuantes nesta região geográfica, nossa equipe poderá agregar outras camadas de informações, buscando sempre um maior esclarecimento.
		</p>
		<p>
			Os pesquisadores envolvidos com o aplicativo pertencem ao quadro de docentes da UFG, além de bolsistas de projetos de pesquisa e pós-graduandos. A equipe conta com desenvolvedores de plataformas web, geógrafos, cartógrafos, estatísticos e profissionais de informática, oriundos do Instituto de Estudos Socioambientais (Iesa), Instituto de Matemática e Estatística (IME), Instituto de Patologia Tropical e Saúde Pública (IPTSP) e Escola de Engenharia Civil e Ambiental (EECA), além de colaboradores externos, da Secretaria Municipal de Saúde de Goiânia, Secretarias do  Estado de Goiás e da Fiocruz (Ministério da Saúde). Acesse <a href="https://covidgoias.ufg.br" target="_blank">https://covidgoias.ufg.br</a>.
		</p>
		<br/>
		<img width="100%" src="../../../../assets/logo/partners.png">
</div>

<app-footer-pages></app-footer-pages>
	
	<!-- Go to Top Link -->
	<a href="#/covidgoias" class="back-to-top">
		<i class="lni-arrow-up"></i>
	</a>
