#detailsName {
	background-color: #222222 !important;
}

#titleName {
	color: #ffffff !important;
}

.team-item .contetn {
	height: 250px;
}

.contetn p, .team-item .info-text h3 {
	text-align: justify;
}

.img-fluid-plataforms {
	max-width: 300px;
}

.img-fluid-graphics {
	max-width: 350px;
}

#graphics .services-item {
	padding: 0px;
}

.testimonial-item {
	height: 550px;
}

.navbar-brand img{
	width: 90% !important;
}

.padding-logos {
	padding: 0px !important;
}