#detailsName {
	background-color: #222222 !important;
}

#titleName {
	color: #ffffff !important;
}

.team-item .contetn {
	height: 250px;
}

.contetn p, .team-item .info-text h3 {
	text-align: justify;
}

.img-fluid-plataforms {
	max-width: 300px;
}

.img-fluid-graphics {
	max-width: 350px;
}

.img-fluid {
	padding-top: 15px;
}

.cardPlataformas {
	height: 470px;
}

#graphics .services-item {
	padding: 0px;
}

.testimonial-item {
	height: 550px;
}

.navbar-brand img{
	width: 100% !important;
}

.padding-logos {
	padding: 0px !important;
	width: 30%;
	text-align: right
}

.team-block {
	text-align: center; 
	flex: 20%; 
	max-width: 20%;
	padding-top: 20px;
}

.team-img {
	max-width: 180px !important; 
	border-radius: 100%
}

#team h5 {
	padding-top: 10px;
	font-weight: bold;
}

#team a {
	color: #585858
}

.cardAcervo {
	height: 210px;
}