<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar" style="background-color: white;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-mb-4">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-mb-3 padding-logos">
              <a href="https://www.cepf.net/" target="_blank" class="navbar-brand"><img src="assets/img/logo-cepf.svg" alt=""></a>       
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-mb-3 padding-logos">
              <a href="http://cepfcerrado.iieb.org.br" target="_blank" class="navbar-brand"><img src="assets/img/logo-ieb.png" alt=""></a>       
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-mb-3 padding-logos">
              <a href="https://www.lapig.iesa.ufg.br" target="_blank" class="navbar-brand"><img src="assets/img/logo_lapig.png" alt=""></a>       
            </div>
          </div>
        </div>
      
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-mb-8">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active" style="padding-left: 0px">
                <a class="nav-link" href="#">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Plataformas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#graphics">
                  Estatísticas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">
                  Tutoriais
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#news">
                  Notícias
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contribua">
                  Contribua
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">
                  Equipe
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonial">
                  Parceiros
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contato
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section id="inscreva" class="about-area bg-gray" style="padding: 20px">
    <div class="container" style="margin-top: 50px;">
      <div class="section-header text-center" style="margin-bottom: 20px;">
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Evento de lançamento da plataforma</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div style="text-align: center">
        <p>Participe de nosso primeiro evento oficial, no dia 16 de novembro de 2020, a partir das 10h da manhã, via
          transmissão ao vivo por nosso canal do YouTube: <a
            href="https://www.youtube.com/channel/UCMaMNxB4bgo6CSV2oETvTqg/featured" target="_blank" style="color:
            #f63854">Plataforma de Conhecimento do
            Cerrado.</a></p>
        <p style="font-size: 12px">*O preenchimento do formulário dará direito a um certificado de participação, com a possibilidade de se inscrever também ao treinamento online neste mesmo dia (14:00 às 17:00 horas).</p>
        <div style="padding: 10px">
          <a href="https://forms.gle/r2tufCNuBvngRJDy8" target="_blank"><button class="btn btn-common"
              id="form-submit">Inscreva-se
              Gratuitamente</button> </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">
    <div class="container">      
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <div class="contents">
            <h2 class="head-title">Plataforma de Conhecimento do<br>Cerrado</h2>
            <p style="padding-bottom:5px; text-align:justify"><b>Bem-vindo à Plataforma de Conhecimento do Cerrado! Esta é uma
                iniciativa do
                Critical Ecosystem
                Partnership Fund (CEPF - Cerrado) e do Laboratório de Processamento de Imagens e Geoprocessamento
                (LAPIG) da Universidade Federal de Goiás (UFG).</b></p>
            <p style="padding-bottom:5px; text-align:justify">Por meio desta plataforma, oferecemos uma estrutura
              computacional apta para
              disseminar o conhecimento
              acumulado sobre o bioma Cerrado, com informações confiáveis sobre uso do solo, biodiversidade e
              socioeconomia, na forma de mapas, gráficos e textos, além de ferramentas online para subsidiar políticas
              públicas e programas de conservação neste rico e ameaçado ecossistema.
            </p>
            <p style="text-align:justify">
              Aproveite a experiência! Se desejar contribuir com este projeto, qualquer pessoa ou instituição poderá
              enviar informações geoespaciais obtidas na região do Cerrado, de qualquer formato, tema ou natureza,
              bastando utilizar nossa ferramenta de upload (ver opção no menu principal, clicando em Contribua).
            </p>
            <div class="header-button">
              <!-- <a href="#" class="btn btn-common">Download Now<i></i></a> -->
              <a href="/#/project" class="btn btn-border video-popup">Saiba Mais<i></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="intro-img">
            <img class="img-fluid" src="assets/img/intro-mobile.png" alt="">
          </div>            
        </div>
      </div> 
    </div> 
  </div>
  <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->

<!-- Services Section Start -->
<section id="services" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Plataformas</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight cardPlataformas" data-wow-delay="1.8s">
          <div>
            <img class="img-fluid-plataforms" src="assets/img/plataforms/desmatamento.jpg" alt="">
          </div>
          <div class="services-content">
            <h3><a href="http://cerradodpat.org/" target="_blank">Desmatamento</a></h3>
            <p>Uma radiografia dos desmatamentos praticados no bioma Cerrado, com dados providos pelo Instituto Nacional
              de Pesquisas Espaciais (INPE) e outras instituições de pesquisa, e validados pelo LAPIG, por meio da
              plataforma Cerrado DPAT. Dados disponíveis para download.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight cardPlataformas" data-wow-delay="1.2s">
          <div>
            <img class="img-fluid-plataforms" src="assets/img/plataforms/Imagens_aereas_2.png" alt="">
          </div>
          <div class="services-content">
            <h3><a href="http://vant.lapig.iesa.ufg.br" target="_blank">Imagens Aéreas</a></h3>
            <p>Imagens aéreas captadas em vários momentos e locais do bioma Cerrado (abrangendo também outros biomas),
              por meio de Veículos Aéreos Não Tripulados (VANTs) ou drones. Grande parte deste acervo está relacionado
              às atividades de pesquisa do núcleo Pro-Vant. Dados disponíveis para download.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight cardPlataformas" data-wow-delay="0.9s">
          <div>
            <img class="img-fluid-plataforms" src="assets/img/plataforms/uso_solo.png" alt="">
          </div>
          <div class="services-content">
           <h3><a href="/#/usodosolo" target="_blank">Socioambiental</a></h3>
            <p>Informações sobre uso do solo, biodiversidade e socioeconomia do bioma Cerrado, organizadas em temas e
              diferentes formatos (mapas, gráficos e relatórios), visando análises dinâmicas e integradas. Dados
              disponíveis para download.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="graphics" class="about-area section-padding bg-gray">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Estatísticas/Impactos</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
          <!-- <div class="icon">
            <i class="lni-cog"></i>
          </div> -->
          <a href="/#/usodosolo" target="_blank">
            <div>
              <img class="img-fluid-graphics" src="assets/img/graphics/grafico2.png" alt="">
            </div>
          </a>
          <div class="services-content">
            <!-- <h3><a href="#">Biodiversidade</a></h3> -->
            <p style="text-align: justify;">De acordo com mapeamento do Lapig, a área de pastagem no bioma Cerrado, em
              2018, foi de 55.904.994,99ha (27% da área total). Já o Rebanho Bovino contabilizou 54.955.900,00 UA em
              2017. </p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
          <!-- <div class="icon">
            <i class="lni-stats-up"></i>
          </div> -->
          <a href="/#/usodosolo" target="_blank">
            <div>
              <img class="img-fluid-graphics" src="assets/img/graphics/grafico1.png" alt="">
            </div>
          </a>
          <div class="services-content">
            <!-- <h3><a href="#">Social</a></h3> -->
            <p style="text-align: justify;">De acordo com o projeto Terra Class Cerrado (referente ao ano de 2013), o
              bioma Cerrado possui uma área total de 204.003.203,41 de hectares, sendo a classe "Natural" a de maior
              predominância, com 111.130.644,74 de hectares (54% da área total).
            </p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
          <a href="http://cerradodpat.org/" target="_blank">
            <div>
              <img class="img-fluid-graphics" src="assets/img/graphics/grafico3.png" alt="">
            </div>
          </a>
          <div class="services-content">
            <p style="text-align: justify;">Áreas desmatadas nos estados do bioma Cerrado, entre os anos de 2017/2018.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Features Section Start -->
<section id="features" class="section-padding">
  <div class="container">
    <div class="section-header text-center">          
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Acervo</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="content-right">
          <div class="box-item wow fadeInLeft cardAcervo" data-wow-delay="0.3s">
            <span class="icon">
              <i class="lni-laptop-phone"></i>
            </span>
            <div class="text">
              <h4>Tutoriais</h4>
              <p>Dúvidas em como utilizar a Plataforma e os nossos dados? Confira os tutoriais que preparamos no formato
                de texto e vídeo-aulas, incluindo treinamentos de geoprocessamento e apresentações em workshops.</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="content-right">
          <div class="box-item wow fadeInLeft cardAcervo" data-wow-delay="0.6s">
            <span class="icon">
              <i class="lni-gallery"></i>
            </span>
            <div class="text">
              <h4>Galeria</h4>
              <p>Registros fotográficos e filmagens aéreas realizadas no bioma Cerrado.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="content-right">
          <div class="box-item wow fadeInRight cardAcervo" data-wow-delay="0.3s">
            <span class="icon">
              <i class=" lni-files"></i>
            </span>
            <div class="text">
              <h4>Biblioteca Digital</h4>
              <p>Artigos científicos e outros materiais literários relacionados ao bioma Cerrado.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Section End -->   

<!-- Team Section Start -->
<section id="news" class="section-padding bg-gray">
  <div class="container">
    <div class="section-header text-center">          
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Notícias</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/plataforms/covidgoias.jpg" alt="">
          </div>
          <div class="contetn">
            <div class="info-text">
              <h3><a href="https://cepf.lapig.iesa.ufg.br/#/covidgoias"
                  target="_blank">UFG cria plataforma web para monitorar covid-19 em Goiás</a>
              </h3>
              <p>Fonte: LAPIG - UFG</p>
            </div>
            <p>Neste momento de crise mundial da COVID-19, uma equipe multidisciplinar da Universidade Federal de Goiás (UFG), 
              vinculada ao Laboratório de Processamento de Imagens e Geoprocessamento, 
              desenvolveu uma plataforma web que permite o monitoramento desta pandemia...</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/news/news2.2.2.jpg" alt="">
          </div>
          <div class="contetn">
            <div class="info-text">
              <h3><a
                  href="http://cepfcerrado.iieb.org.br/agricultores-familiares-do-df-recebem-capacitacao-para-coleta-de-sementes-nativas-do-cerrado/"
                  target="_blank">Agricultores familiares do DF recebem capacitação para a coleta de sementes nativas do
                  Cerrado</a></h3>
              <p>Fonte: IEB</p>
            </div>
            <p>Nos meses de maio e junho a Rede Bartô concluiu mais duas etapas do Componente de “Regularização
              ambiental do Assentamento Rural Roseli Nunes” – parte do projeto Agroflorestas Prestadoras de Serviços
              Ecossistêmicos...</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/news/news3.3.3.jpg" alt="">
          </div>
          <div class="contetn">
            <div class="info-text">
              <h3><a
                  href="http://cepfcerrado.iieb.org.br/mosaico-sertao-veredas-peruacu-tem-novo-plano-de-desenvolvimento-territorial-de-base-conservacionista/"
                  target="_blank">Mosaico Sertão Veredas-Peruaçu tem novo Plano de Desenvolvimento Territorial de Base
                  Conservacionista</a></h3>
              <p>Fonte: IEB</p>
            </div>
            <p>Após 10 anos de esforços conjuntos, o Mosaico Sertão Veredas-Peruaçu passa para uma nova fase de
              consolidação e ampliação das ações de conservação e uso sustentável dos biomas Cerrado e Caatinga.... </p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
          <div class="team-img">
            <img class="img-fluid" src="assets/img/news/news4.4.4.jpg" alt="">
          </div>
          <div class="contetn">
            <div class="info-text">
              <h3><a
                  href="http://cepfcerrado.iieb.org.br/parceiros-globais-do-cepf-estao-fazendo-diferenca/"
                  target="_blank">Parceiros globais do CEPF estão fazendo a diferença</a></h3>
              <p>Fonte: IEB</p>
            </div>
            <p>O Fundo de Parceria Para Ecossistemas Críticos (CEPF na sigla em inglês) já financiou projetos realizados
              por mais de 2.400 beneficiários em 98 países e territórios em 24 dos hotspots...</p>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- contribua section Start --> 
<section id="contribua" class="section-padding">
  <div class="container">
    <div class="section-header text-center">          
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Contribua com a plataforma</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 info">
        <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
          <div>
            <div class="site-heading">
              <p style="text-align: center" class="mb-3">Veja como é simples contribuir com a Plataforma de Conhecimento do Cerrado</p>
              <div class="content">
                <p style="text-align: justify">
                  Para enviar seus dados, é necessário primeiro que estes estejam identificados por um
                  nome ou código específico que nos possibilite relaciona-los com a sua instituição, já
                  informadas no formulário de metadados. Para informações georreferenciadas, em geral
                  empregamos o formato vetorial (padrão shapefile ou KML) e imagens (padrão TIFF ou JPEG),
                  com respectivos arquivos auxiliares. Assim, os procedimentos abaixo devem ser seguidos para
                  realização do upload:
                </p> <br />
              </div>
              <div>
                <h3 class="section-title">Passo 1 - Preencha o formulário de metadados:</h3>
                <p style="text-align: center"><a
                    href="https://docs.google.com/forms/d/16FssFjZ9ZRIaovfkDPYMd6kAI3DecH69H5snnQ7loa0/viewform?edit_requested=true"
                    class="btn btn-common mt-3" target="_blank">Acessar Formulário</a></p><br />
              </div>
              <div>
                <h3 class="section-title">Passo 2 - Envie seus dados:</h3>
                <p>
                  1 – Identifique com um nome (ou com um código) o seu dado a ser enviado (esta identificação deve ser a
                  mesma indicada no formulário de metadados, em anexo);<br />
                  2 – Coloque todos os dados a serem enviados em uma única pasta. <br />
                  3 – Compacte esta pasta (formato .zip ou .rar). <br />
                  4 – Acesse o Lapig Drive, através do botão "Upload" logo abaixo e clique no ícone de envio <img class="img-fluid"
                    src="assets/img/envio_lapig_drive.png" alt=""> <br />
                </p>
                <p style="text-align: center"><a href="https://www.lapig.iesa.ufg.br/drive/index.php/s/FK9QbRP78LhZdGc"
                    class="btn btn-common mt-3" target="_blank">Upload</a></p> <br /> <br />
              </div>
            </div>
            <p>Dúvidas ou sugestões, por favor, entre em contato conosco, pelo telefone (+55) (62) 3521-1360,
              ou pelo e-mail lapig.cepf@gmail.com</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- contribua Table Section End -->

<!-- Team Section Start -->
<section id="team" class="section-padding bg-gray">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Equipe</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/4498594723433539" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/manuel.jpg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/4498594723433539" target="_blank">Manuel Ferreira</a></h5>
        <p>Coordenador Geral</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/0056241036193048" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/elaine.jpeg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/0056241036193048" target="_blank">Elaine Silva</a></h5>
        <p>Coordenadora Técnica/Capacitação</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/8647270006257055" target="_blank"><img title="Acesse o Currículo Lattes"
            class="team-img" src="assets/img/team/laerte.jpg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/8647270006257055" target="_blank">Laerte Guimarães</a></h5>
        <p>Apoio Institucional</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
          <a href="http://lattes.cnpq.br/7109630539861439" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/fernanda.jpeg" alt=""></a>
          <h5><a href="http://lattes.cnpq.br/7109630539861439" target="_blank">Fernanda Stefani</a></h5>
          <p>Desenvolvedora</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/9189310566441445" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/luiz.jpeg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/9189310566441445" target="_blank">Luiz Mário</a></h5>
        <p>Desenvolvedor</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/1371934085917576" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/leandro.jpg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/1371934085917576" target="_blank">Leandro Leal</a></h5>
        <p>Desenvolvedor</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/6994901089843835" target="_blank"><img title="Acesse o Currículo Lattes"
            class="team-img" src="assets/img/team/tharles.jpg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/6994901089843835" target="_blank">Tharles Andrade</a></h5>
        <p>Desenvolvedor</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block" style="padding-top: 20px">
        <a href="http://lattes.cnpq.br/1302444485506824" target="_blank"><img class="team-img" src="assets/img/team/renato.jpg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/1302444485506824" target="_blank">Renato Gomes</a></h5>
        <p>Analista de Infraestrutura</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/0210822965803039" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/lana.jpeg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/0210822965803039" target="_blank">Lana Mara</a></h5>
        <p>Base de Dados</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/6706740706389830" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/joao.jpeg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/6706740706389830" target="_blank">João Vitor</a></h5>
        <p>Base de Dados</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block" style="padding-top: 20px">
        <a href="http://lattes.cnpq.br/8902184066848136" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/rherison.jpeg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/8902184066848136" target="_blank">Rherison Almeida</a></h5>
        <p>Base de Dados/Capacitação</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/1568883282380871" target="_blank"><img title="Acesse o Currículo Lattes"
            class="team-img" src="assets/img/team/charles.jpeg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/1568883282380871" target="_blank">Charles Tiarini</a></h5>
        <p>Base de Dados</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/7672828732233219" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/natalia.jpeg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/7672828732233219" target="_blank">Natália Barros</a></h5>
        <p>Estagiária</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block">
        <a href="http://lattes.cnpq.br/4652703508642820" target="_blank"><img title="Acesse o Currículo Lattes" class="team-img" src="assets/img/team/joviton.jpeg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/4652703508642820" target="_blank">Jóviton Mendes</a></h5>
        <p>Estagiário</p>
      </div>
      <div class="col-lg-2 col-md-12 col-xs-12 team-block" style="padding-top: 20px">
        <a href="http://lattes.cnpq.br/6150712751118427" target="_blank"><img class="team-img"
            src="assets/img/team/mariana.jpg" alt=""></a>
        <h5><a href="http://lattes.cnpq.br/6150712751118427" target="_blank">Mariana Gomes</a></h5>
        <p>Gestora de Projetos</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonial Section Start -->
<section id="testimonial" class="testimonial section-padding">
  <div class="container">
    <div class="section-header text-center">          
      <h2 class="section-title wow fadeInDown" id="titleName" data-wow-delay="0.3s">Parceiros</h2>
      <div class="shape wow fadeInDown" id="detailsName" data-wow-delay="0.3s"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/logo_ispn.jpg" alt="">
              </div>
              <div class="info">
                <h2><a href="https://ispn.org.br" target="_blank">Instituto Sociedade, População e Natureza</a></h2>
              </div>
              <div class="content">
                <p class="description">Desde 1990 atua pelo desenvolvimento com equidade social e equilíbrio ambiental, por meio do fortalecimento de meios de vida sustentáveis e estratégias de adaptação e mitigação às mudanças do clima.</p>
                <a href="https://ispn.org.br" target="_blank" class="btn btn-common mt-3">Acesse o site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/logo_ipam.jpg" alt="">
              </div>
              <div class="info">
                <h2><a href="https://ipam.org.br" target="_blank">Instituto de Pesquisa Ambiental da Amazônia</a></h2>
              </div>
              <div class="content">
                <p class="description">O IPAM é uma organização científica, não governamental, apartidária e sem fins
                  lucrativos que desde 1995 trabalha pelo desenvolvimento sustentável da Amazônia</p>
                <a href="https://ipam.org.br" target="_blank" class="btn btn-common mt-3">Acesse o site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/logo_imaflora.png" alt="">
              </div>
              <div class="info">
                <h2><a href="http://www.imaflora.org" target="_blank">Instituto de Manejo e Certificação Florestal e Agrícola</a></h2>
              </div>
              <div class="content">
                <p class="description">Nasceu no ano de 1995 sob a premissa de que a melhor forma de conservar as florestas tropicais é dar a elas uma destinação econômica, associada a boas práticas de manejo e a uma gestão responsável dos recursos naturais.</p>
                <a href="http://www.imaflora.org" target="_blank" class="btn btn-common mt-3">Acesse o site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/logo_greentec.jpg" alt="">
              </div>
              <div class="info">
                <h2><a href="https://www.facebook.com/GreentecBrasilia/" target="_blank">Greentec Tecnologia Ambiental</a></h2>
              </div>
              <div class="content">
                <p class="description">Empresa de consultoria ambiental com sede em Brasília, com atuação em todo o Brasil.</p>
                <a href="https://www.facebook.com/GreentecBrasilia/" target="_blank" class="btn btn-common mt-3">Acesse o site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/logo_amadaterra.png" alt="">
              </div>
              <div class="info">
                <h2><a href="https://institutoamadaterra.blogspot.com" target="_blank">Instituto Amada Terra</a></h2>
              </div>
              <div class="content">
                <p class="description">ONG criada em 2010 cujo a missão é participar de ações que promovam a Preservação Ambiental, a Cultura e a Inclusão Social, com honradez, sabedoria e união.</p>
                <a href="https://institutoamadaterra.blogspot.com" target="_blank" class="btn btn-common mt-3">Acesse o site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/Ambiental-44.jpg" alt="">
              </div>
              <div class="info">
                <h2><a href="#">Ambiental 44</a></h2>
              </div>
              <div class="content">
                <p class="description">Empresa baseada em Belo Horizonte, MG, com o objetivo de prestar serviços e
                  assessoria técnica em projetos de criação, manejo e gestão de áreas protegidas, planejamento regional
                  para conservação da biodiversidade, capacitação e mobilização social, entre outros temas relacionados
                  a conservação e sustentabilidade.</p>
                <!-- <a href="https://ipam.org.br" target="_blank" class="btn btn-common mt-3">Acesse o site</a> -->
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/logo_wwf.png" alt="">
              </div>
              <div class="info">
                <h2><a href="https://www.wwf.org.br/" target="_blank">WWF - Brasil</a></h2>
              </div>
              <div class="content">
                <p class="description">O WWF-Brasil é uma organização da sociedade civil brasileira, de natureza
                  não-governamental e constituída como associação civil sem fins lucrativos que trabalha para mudar a
                  atual trajetória de degradação ambiental e promover um futuro onde sociedade e natureza vivam em
                  harmonia.</p>
                <a href="https://www.wwf.org.br/" target="_blank" class="btn btn-common mt-3">Acesse o
                  site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/logo_tnc.png" alt="">
              </div>
              <div class="info">
                <h2><a href="https://www.tnc.org.br/" target="_blank">The Nature Conservancy</a></h2>
              </div>
              <div class="content">
                <p class="description">Desde 1951, a The Nature Conservancy tem trabalhado para proteger as terras e
                  águas das quais toda a vida depende. Do seu histórico trabalho de aquisição de terras às suas
                  pesquisas pioneiras, que influenciam políticas globais, a TNC está constantemente se adaptando, para
                  dar conta dos maiores desafios do planeta.</p>
                <a href="https://www.tnc.org.br/" target="_blank" class="btn btn-common mt-3">Acesse o
                  site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/logo_mctic.png" alt="">
              </div>
              <div class="info">
                <h2><a href="http://www.mctic.gov.br/portal" target="_blank">Ministério da Ciência, Tecnologia, Inovações e Comunicações</a></h2>
              </div>
              <div class="content">
                <p class="description">O Ministério da Ciência, Tecnologia, Inovações e Comunicações (MCTIC) é um órgão
                  da administração federal direta, tem como missão: Produzir conhecimento,
                  Produzir riquezas para o Brasil, Contribuir para a qualidade de vida dos brasileiros</p>
                <a href="http://www.mctic.gov.br/portal" target="_blank" class="btn btn-common mt-3">Acesse o
                  site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/mpgo.png" alt="">
              </div>
              <div class="info">
                <h2><a href="https://www.mpgo.mp.br" target="_blank">Ministério Público de Goiás</a>
                </h2>
              </div>
              <div class="content">
                <p class="description">o Ministério Público é uma instituição permanente, essencial à função
                  jurisdicional do Estado, incumbindo-lhe a defesa da ordem jurídica, do regime democrático e dos
                  interesses sociais e individuais indisponíveis</p>
                <a href="https://www.mpgo.mp.br" target="_blank" class="btn btn-common mt-3">Acesse o site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/mapbiomas.png" alt="">
              </div>
              <div class="info">
                <h2><a href="https://www.mpgo.mp.br" target="_blank">MAPBIOMAS</a>
                </h2>
              </div>
              <div class="content">
                <p class="description">O Projeto de Mapeamento Anual da Cobertura e Uso do Solo do Brasil é uma
                  iniciativa que envolve uma rede colaborativa com especialistas nos biomas, usos da terra,
                  sensoriamento remoto, SIG e ciência da computação que utiliza processamento em nuvem e classificadores
                  automatizados desenvolvidos e operados a partir da plataforma Google Earth Engine para gerar uma série
                  histórica de mapas anuais de cobertura e uso da terra do Brasil.</p>
                <a href="https://www.mpgo.mp.br" target="_blank" class="btn btn-common mt-3">Acesse o site</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="img-thumb">
                <img src="assets/img/parceiros/ieb.png" alt="">
              </div>
              <div class="info">
                <h2><a href="https://iieb.org.br/" target="_blank">Instituto Internacional de Educação do Brasil</a>
                </h2>
              </div>
              <div class="content">
                <p class="description">O IEB se destaca no cenário nacional por dedicar-se a formar e capacitar pessoas
                  e fortalecer organizações nos diversos aspectos e temas relacionados ao meio ambiente, desenvolvimento
                  e à sustentabilidade.</p>
                <a href="https://iieb.org.br/" target="_blank" class="btn btn-common mt-3">Acesse o site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section Start -->
<!-- <section id="contact" class="section-padding bg-gray">    
  <div class="container">
    <div class="section-header text-center">          
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Fale conosco</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.3s">   
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="contact-block">
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nome" required data-error="Please enter your name">
                  <div class="help-block with-errors"></div>
                </div>                                 
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                  <div class="help-block with-errors"></div>
                </div> 
              </div>
                <div class="col-md-12">
                <div class="form-group">
                  <input type="text" placeholder="Assunto" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group"> 
                  <textarea class="form-control" id="message" placeholder="Sua Mensagem" rows="7" data-error="Write your message" required></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="submit-button text-left">
                  <button class="btn btn-common" id="form-submit" type="submit">Enviar Mensagem</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div> 
                  <div class="clearfix"></div> 
                </div>
              </div>
            </div>            
          </form>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="map">
          <object style="border:0; height: 280px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15293.953698749803!2d-49.2649118!3d-16.6022387!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf4289e70db9bf43!2sLapig+-+Laborat%C3%B3rio+de+Processamento+de+Imagens+e+Geoprocessamento!5e0!3m2!1spt-BR!2sbr!4v1563457090523!5m2!1spt-BR!2sbr"></object>
        </div>
      </div>
    </div>
  </div> 
</section> -->
<!-- Contact Section End -->

<!-- Footer Section Start -->
<footer id="footer" class="footer-area section-padding">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <div class="logos_header">
              <h3 class="footer-logo"><img style="width: 90%" src="assets/img/lapiglogo-resize.png" alt=""></h3>
            </div>
            <div class="textwidget">
              <p>Uma visão unificada e organizada do conhecimento acumulado sobre o bioma Cerrado.</p>
            </div>
            <div class="social-icon">
              <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
              <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
              <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
              <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">CEPF Cerrado</h3>
          <ul class="footer-link">
            <li><a href="/#/project">O Projeto</a></li>
            <li><a href="/#/cerrado">O Bioma Cerrado</a></li>
            <li><a href="http://cepfcerrado.iieb.org.br/lista-projetos/" target="_blank">Projetos</a></li>
            <li><a href="https://cepf.lapig.iesa.ufg.br/#/covidgoias" target="_blank">Ações Covid-19</a></li>
            <li><a href="/#/ouvidoria">Mecanismos de ouvidoria</a></li>
            <li><a href="/#/salva_guarda">Políticas de salvaguardas</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Produtos</h3>
          <ul class="footer-link">
            <li><a href="http://cerradodpat.org">Desmatamento</a></li>
            <li><a href="http://vant.lapig.iesa.ufg.br">Imagens Aéreas</a></li>
            <li><a href="/#/usodosolo">Socioambiental</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Contatos</h3>
          <ul class="address">
            <li>
              <a href="#"><i class="lni-map-marker"></i> Almeida Palmeiras, s/n - Chácaras Califórnia, GO <br> UFG - Universidade Federal de Goiás - Campus Samambaia </a>
            </li>
            <li>
              <a href="#"><i class="lni-phone-handset"></i> +55 (62) 3521-1360 </a>
            </li>
            <li>
              <a href="#"><i class="lni-envelope"></i> lapig.cepf@gmail.com </a>
            </li>
          </ul>
        </div>
      </div>
    </div>  
  </div> 
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-content">
            <p>Copyright © 2019 <a rel="nofollow" href="https://www.lapig.iesa.ufg.br">Lapig</a> All Right Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>   
</footer> 
<!-- Footer Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>
