.playlist-msg{
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    padding: 20px;
}
.content {
    overflow-y: auto !important;
    height: 49em;
    padding: 1em;
    margin-bottom: 2em;
    overflow-x: hidden;
}

.pdfs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pdfs iframe{
    margin: 10px;
    padding: 5px;
}
