.img-fluid {
  max-width: 35%;
}

.intro-img {
  text-align: right;
}

#hero-area {
  background-image: url(../../../assets/img/hero-area-other-pages.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 280px;
  position: relative;
  overflow: hidden;
  padding: 125px 0 55px;
}

.padding-logos {
  padding: 0px !important;
}

.navbar-brand img{
	width: 90% !important;
}

.btn-languages {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;

  button {
    color: white !important;
  }
}

.color-buttons {
  background-color: #707070;
  font-weight: 900;
  margin: 5px;
}

.mat-raised-button {
  min-width: 46px;
  line-height: 28px;
  padding: 0 8px;
}