<app-header-pages></app-header-pages>

<div class="container">
		<h1 class="title_pages">{{ 'title_footer_link_project' | translate }}</h1>
		<div class="col-md-12">
			<br />
			<p>
					{{ 'text_o_projeto.geral.paragrafo1' | translate }}
			</p>
			<p>
				{{ 'text_o_projeto.geral.paragrafo2' | translate }}
			</p>
			<p>
				<b>1 - </b> {{ 'text_o_projeto.geral.paragrafo3' | translate }}
			</p>
			<p>
				<b>2 - </b> {{ 'text_o_projeto.geral.paragrafo4' | translate }}<br />
				<b>-</b> {{ 'text_o_projeto.geral.paragrafo5' | translate }} <br />
				<b>-</b> {{ 'text_o_projeto.geral.paragrafo6' | translate }} <br />
				<b>-</b> {{ 'text_o_projeto.geral.paragrafo7' | translate }} <br />
			</p>
			<p>
				{{ 'text_o_projeto.geral.paragrafo8' | translate }}
			</p>
			<p>
				{{ 'text_o_projeto.geral.paragrafo9' | translate }}
			</p>
		 </div>

	<div class="col-md-12">
		 <br />
		<h2>{{ 'title_cepf' | translate }}</h2>
		<p>
				{{ 'text_o_projeto.cepf.paragrafo1' | translate }}
		</p>
		<p>
				{{ 'text_o_projeto.cepf.paragrafo2' | translate }}
		</p>
		<p>
				{{ 'text_o_projeto.cepf.paragrafo3' | translate }}
		</p>
		<p>
				{{ 'text_o_projeto.cepf.paragrafo4' | translate }} <a href="https://www.cepf.net/"
					target="_blank">https://www.cepf.net/</a>
		</p>
	</div>

	<div class="col-md-12">
			<br />
		 <h2>{{ 'title_ieb' | translate }}</h2>
		 <p>
				{{ 'text_o_projeto.ieb.paragrafo1' | translate }} <a href="http://www.iieb.org.br/"
					target="_blank">http://www.iieb.org.br</a>
		</p>
		 <p>
				<b>{{ 'text_fonte' | translate }}:</b> <a href="http://cepfcerrado.iieb.org.br/" target="_blank">
					http://cepfcerrado.iieb.org.br</a>
		</p>
	 </div>
</div>

<app-footer-pages></app-footer-pages>
	
	<!-- Go to Top Link -->
	<a href="#" class="back-to-top">
		<i class="lni-arrow-up"></i>
	</a>
