<app-header-pages></app-header-pages>

<div class="container">
		<h1 class="title_pages">O Projeto</h1>
		<div class="col-md-12">
			<br />
			<p>
					Este projeto tem por referência a larga experiência do <b>Laboratório de Processamento de Imagens e Geoprocessamento (LAPIG)</b>, da Universidade Federal de Goiás (UFG), no que diz respeito à geração, compilação, organização e disseminação de dados e informações geográficas e ambientais, voltados à melhor governança territorial do Cerrado.
			</p>
			<p>
				Os objetivos principais deste projeto são:
			</p>
			<p>
				<b>1 - </b> Promover o compartilhamento de dados, informações e conhecimento entre as várias partes interessadas no bioma, direta e indiretamente relacionadas ao CEPF;
			</p>
			<p>
				<b>2 - </b> Engajar e empoderar a sociedade civil por meio de informações confiáveis e ferramentas de monitoramento dos ecossistemas do Cerrado. Para atingi-los, nossas ações serão estruturadas em três componentes básicos: <br />
				<b>-</b> Compilação de Bases de Dados geográficas; <br />
				<b>-</b> Implementação de Ferramentas Computacionais (reunidas numa plataforma de consulta online, a qual leva o nome deste projeto); <br />
				<b>-</b> Capacitação/treinamentos das instituições parceiras/tomadores de decisão, com vistas ao melhor aproveitamento deste serviço, bem como a sua manutenção a longo prazo. <br />
			</p>
			<p>
					Em outras palavras, uma visão unificada e organizada do conhecimento acumulado sobre o bioma Cerrado permitirá um direcionamento mais assertivo de recursos em iniciativas de conservação relevantes e/ou negligenciadas até o momento. Espera-se que esse processo de conscientização promova um engajamento de membros da sociedade civil em ações relacionadas às iniciativas desenvolvidas pelo CEPF no Brasil.
			</p>
		 </div>

	<div class="col-md-12">
		 <br />
		<h2>CEPF</h2>
		<p>
				O Fundo de Parceria para Ecossistemas Críticos (CEPF, na sigla em inglês para Critical Ecosystem Partnership Fund) vem atuando desde 2000 para assegurar a participação e contribuição da sociedade civil na conservação de alguns dos ecossistemas mais ricos do mundo do ponto de vista biológico, porém atualmente ameaçados.
		</p>
		<p>
				O objetivo é promover a conservação em áreas biológicas de alta prioridade e numa escala de paisagem. A partir desta perspectiva, o CEPF identifica e apoia uma abordagem regional, envolvendo uma ampla gama de instituições públicas e privadas para atender as necessidades de conservação por meio de esforços coordenados.
		</p>
		<p>
				O CEPF é um programa conjunto da Agência Francesa para o Desenvolvimento, Conservação Internacional, União Europeia, Fundo para o Meio Ambiente Global (GEF), Governo do Japão e Banco Mundial, com vistas a oferecer financiamento para proteção de ecossistemas únicos e ameaçados – conhecidos também como hotspots de biodiversidade.
		</p>
		<p>
				Em 2013, o Conselho de Doadores do CEPF selecionou o bioma Cerrado como um dos hotspots prioritários e 8 milhões de dólares foram alocados para investimentos em projetos no período de 2016 a 2021. Entre os anos de 2016 e 2018 o CEPF Cerrado já realizou duas chamadas para apoio a projetos no Cerrado, e agora está em sua terceira. Atualmente, o Fundo conta com aproximadamente 40 projetos, divididos em Grandes e Pequenos Apoios.
		</p>
	</div>

	<div class="col-md-12">
			<br />
		 <h2>IEB</h2>
		 <p>
				No Brasil, o CEPF conta com o apoio do Instituto Internacional de Educação do Brasil (IEB), instituição brasileira do terceiro setor dedicada a formar e capacitar pessoas, bem como fortalecer organizações nas áreas de manejo dos recursos naturais, gestão ambiental e territorial e outros temas relacionados à sustentabilidade. O IEB atua em rede, busca parcerias e promove situações de interação e intercâmbio entre organizações da sociedade civil, associações comunitárias, instâncias de governo e do setor privado. Para saber mais sobre a atuação do IEB, visite: <a href="http://www.iieb.org.br/" target="_blank">http://www.iieb.org.br</a>
		</p>
		 <p>
				<b>Fonte:</b> <a href="http://cepfcerrado.iieb.org.br/" target="_blank"> http://cepfcerrado.iieb.org.br</a>
		</p>
	 </div>
</div>

<app-footer-pages></app-footer-pages>
	
	<!-- Go to Top Link -->
	<a href="#" class="back-to-top">
		<i class="lni-arrow-up"></i>
	</a>
