<div id="body-mobile" [style]="'height: ' + height + ';' ">
  <nav class="barra-titulo">
    <div class="container-logos">
      <a routerLink="/">
        <img [src]="'logo_img' | translate" alt="Logo CEPF" />
      </a>
    </div>
    <div class="btn-languages-mobile">
       <button (click)="changeLanguage('pt')" class="color-buttons" mat-raised-button
         [ngStyle]="bntStylePOR">&nbsp;POR</button>
       <button (click)="changeLanguage('en')" class="color-buttons" mat-raised-button
         [ngStyle]="bntStyleENG">&nbsp;ENG</button>
    </div>
  </nav>

  <mat-tab-group mat-stretch-tabs id="tab-mobile" #matgroup>
    <mat-tab [style]="'height: ' + height + ';' " label="{{'layers_map' | translate}}">
      <mat-drawer-container class="container-layer-sidenav" autosize>
        <mat-drawer #drawer [style.z-index]="showLayers? '4' : '-1'" class="layer-sidenav" mode="over"
          [autoFocus]="false" [opened]="showLayers">
          <div class="container-drawer">
            <button (click)="handleDrawer()" style="position: absolute; right: calc(100% - 21.5rem);top: 10px;"
              mat-icon-button>
              <mat-icon>highlight_off</mat-icon>
            </button>
            <div class="collapseLayer">
                <mat-tab-group mat-stretch-tabs class="layersConteudo" dynamicHeight>
                  <mat-tab [label]="'layers' | translate">
                    <p-scrollPanel [style]="{width: '100%',  height: '80vh'}">
                      <mat-accordion>
                        <div id="layers_pastagens">
                          <ng-template #rt let-r="result" let-t="term">
                            <ngb-highlight [result]="r.text" [term]="t"></ngb-highlight>
                          </ng-template>
                          <input id="typeahead-http" type="text" class="form-control searchRegion"
                            [class.is-invalid]="searchFailed" [(ngModel)]="valueRegion" [ngbTypeahead]="search"
                            placeholder="{{'text_box_searching_input' | translate}}"
                            (selectItem)="updateRegion($event.item)" [resultTemplate]="rt"
                            [inputFormatter]="formatter" />
                          <img [hidden]="selectRegion == defaultRegion" class="clear-region-btn"
                            (click)="updateRegion(defaultRegion)" src="assets/clear_button.png" />
                          <span *ngIf="searching">{{'text_box_searching' | translate}}</span>
                          <div class="invalid-feedback" *ngIf="searchFailed">
                            {{'text_box_notsearch' | translate}}</div>
                          <div *ngFor="let groups of descriptor.groups">
                            <mat-expansion-panel [expanded]=groups.group_expanded>
                              <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'"
                                class="expansion-header-layer">
                                <h5 class="expansion-layer"><b>{{groups.label}}</b></h5>
                              </mat-expansion-panel-header>
                              <div class="layersContent" *ngFor="let layer of groups.layers">
                                <div>
                                  <mat-checkbox [id]=layer.id class="example-margin"
                                    (change)="changeVisibility(layer, $event)" [checked]=layer.visible>
                                    {{layer.label}}
                                  </mat-checkbox>
                                  <button class="button-row" (click)="openDialog(layer)" color="accent" mat-icon-button>
                                    <mat-icon class="iconInfo">info</mat-icon>
                                  </button>
                                </div>
                                <div style="padding-left: 8%; padding-top: 3%" *ngIf="layer.times">
                                  <mat-form-field>
                                    <mat-label>{{layer.timeLabel}}</mat-label>
                                    <mat-select (selectionChange)="updateSourceLayer(layer)"
                                      [(value)]="layer.timeSelected" [disabled]="!layer.visible">
                                      <mat-option *ngFor="let times of layer.times" [value]="times.value">
                                        {{times.Viewvalue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="layer-selections" style="padding-left: 8%; padding-top: 3%"
                                  *ngIf="layer.types">
                                  <mat-form-field style="margin-right: 15%; width: 100%">
                                    <mat-label *ngFor="let type of layer.types"
                                      [hidden]="type.value != layer.selectedType">
                                      {{type.typeLabel}}</mat-label>
                                    <mat-select (selectionChange)="changeVisibility(layer)"
                                      [(value)]="layer.selectedType" [disabled]="!layer.visible">
                                      <mat-option *ngFor="let type of layer.types" [value]="type.value">
                                        {{type.Viewvalue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <span class="time-selection" *ngFor="let type of layer.types"
                                    [hidden]="type.value != layer.selectedType">
                                    <mat-form-field *ngIf="type.times">
                                      <mat-label>{{type.timeLabel}}</mat-label>
                                      <mat-select (selectionChange)="updateSourceLayer(type)"
                                        [(value)]="type.timeSelected" [disabled]="!layer.visible">
                                        <mat-option *ngFor="let times of type.times" [value]="times.value">
                                          {{times.Viewvalue}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </span>
                                </div>
                              </div>
                            </mat-expansion-panel>
                          </div>
                        </div>
                      </mat-accordion>
                    </p-scrollPanel>
                  </mat-tab>
                  <!-- <mat-tab [label]="'upload_title' | translate">
                    <p-scrollPanel [style]="{width: '100%',  height: '70vh'}">
                      <mat-tab-group [(selectedIndex)]="selectedIndexUpload" class="layersConteudo container-upload"
                        mat-stretch-tabs dynamicHeight>
                        <mat-tab [label]="'upload_search' | translate">
                          <mat-progress-bar class="progress-analyse" color="accent"
                            *ngIf="layerFromConsulta.analyzedAreaLoading" mode="indeterminate">
                          </mat-progress-bar>
                          <mat-form-field class="example-full-width">
                            <mat-label>{{'upload_token' | translate}}</mat-label>
                            <input type="number" min="0" matInput [(ngModel)]="layerFromConsulta.token"
                              (input)="changeTextUpload($event)">
                          </mat-form-field>
                          <mat-card *ngIf="layerFromConsulta.visible" class="card-checkbox-upload mat-elevation-z8"
                            color="primary">
                            <div class="title-file-card">
                              {{'upload_title_file' | translate | uppercase}}</div>
                          </mat-card>
                          <div class="buttons-analyze">
                            <button class="color-buttons"
                              *ngIf="layerFromConsulta.token != ''  && !layerFromConsulta.analyzedArea.hasOwnProperty('geojson')"
                              (click)="searchUploadShape()" mat-raised-button color="primary">
                              <div>
                                {{'btn_search' | translate | uppercase}}</div>
                            </button>
                            <button class="color-buttons"
                              *ngIf="layerFromConsulta.token != '' && layerFromConsulta.analyzedArea.hasOwnProperty('geojson')"
                              (click)="analyzeUploadShape(true)" mat-raised-button color="primary">
                              <div>
                                {{'btn_analyze' | translate | uppercase}}</div>
                            </button>
                            <button class="color-buttons clear"
                              *ngIf="layerFromConsulta.token != '' && !layerFromConsulta.analyzedArea.hasOwnProperty('regions_intersected')"
                              (click)="clearUpload(true)" mat-raised-button color="warn">
                              <div>
                                {{'btn_clear' | translate | uppercase}}</div>
                            </button>
                            <button class="color-buttons clear"
                              *ngIf="layerFromConsulta.analyzedArea.hasOwnProperty('shape_upload')"
                              (click)="clearUpload(true)" mat-raised-button color="warn">
                              <div>
                                {{'btn_clear' | translate | uppercase}}</div>
                            </button>
                          </div>
                          <div *ngIf="layerFromConsulta.analyzedAreaLoading" class="info-header"
                            [innerHTML]="'upload_warning' | translate"></div>

                          <div *ngIf="layerFromConsulta.error" class="info-error"
                            [innerHTML]="'upload_not_found' | translate"></div>

                          <div *ngIf="layerFromConsulta.analyzedArea.hasOwnProperty('shape_upload')"
                            class="card card-upload-analysed">
                            <h5 class="title-file-card ">
                              {{'analyzed_area_title' | translate | uppercase}}</h5>
                            <div class="card-upload-analysed-content">
                              <div class="upload-token">
                                <button (click)="printAnalyzedAreaReport(true)" class="btn-print" mat-icon-button>
                                  <mat-icon>print</mat-icon>
                                  <mat-spinner [strokeWidth]="2" [diameter]="18" *ngIf="loadingPrintReport"
                                    color="primary" mode="indeterminate" style="margin: 0 auto;"></mat-spinner>
                                </button>
                                {{'analyzed_area_total_area' | translate }}
                                <strong>
                                  {{layerFromConsulta.analyzedArea.shape_upload.area_upload | number:'1.2-2' }}
                                  ha </strong>
                              </div>

                              <div
                                *ngIf="layerFromConsulta.analyzedArea.regions_intersected.hasOwnProperty('municipio')"
                                class="card-upload-analysed-table">
                                <h6 class="card-upload-analysed-table-title">
                                  {{'analyzed_area_table_city_title' | translate}}
                                </h6>
                                <p>
                                  {{getCitiesAnalyzedArea(true)}}
                                </p>
                              </div>
                              <div *ngIf="layerFromConsulta.analyzedArea.regions_intersected.hasOwnProperty('estado')"
                                class="card-upload-analysed-table">
                                <h6 class="card-upload-analysed-table-title">
                                  {{'analyzed_area_table_state_title' | translate}}
                                </h6>
                                <p>
                                  {{getStatesAnalyzedArea(true)}}
                                </p>
                              </div>

                              <div class="card-upload-analysed-table">
                                <h6
                                  *ngIf="layerFromConsulta.heavyAnalysis.terraclass || !layerFromConsulta.heavyAnalysisLoading"
                                  class="card-upload-analysed-table-title card" (click)="openCharts(
															translate.instant('chart_terraclass_title'),
														 false,
														  	layerFromConsulta.heavyAnalysis.terraclass.data,
														  	layerFromConsulta.heavyAnalysis.terraclass.type,
														   	layerFromConsulta.heavyAnalysis.terraclass.options
														  )">
                                  {{'terraclass_card' | translate}}
                                </h6>
                                <h6 *ngIf="layerFromConsulta.heavyAnalysisLoading"
                                  class="card-upload-analysed-table-title card">
                                  <mat-progress-bar class="progress-analyse" color="accent"
                                    *ngIf="layerFromConsulta.heavyAnalysisLoading" mode="indeterminate">
                                  </mat-progress-bar>
                                  <i>{{'terraclass_msg_searching' | translate}}</i>
                                </h6>
                              </div>

                              <div
                                *ngIf="layerFromConsulta.heavyAnalysis.hasOwnProperty('table_pastagem_queimadas_peryear')"
                                class="card-upload-analysed-table">
                                <div
                                  *ngIf="layerFromConsulta.heavyAnalysis.table_pastagem_queimadas_peryear.length > 0">
                                  <h5 class="card-upload-analysed-table-title">
                                    {{'burned_data_title' | translate}}
                                  </h5>
                                  <p-table [value]="layerFromConsulta.heavyAnalysis.table_pastagem_queimadas_peryear"
                                    selectionMode="single">
                                    <ng-template pTemplate="header">
                                      <tr align="center">
                                        <th *ngFor="let header of translate.instant('burned_data_headers')">
                                          {{header}}
                                        </th>
                                      </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-dt>
                                      <tr [pSelectableRow]="dt" tooltipPosition="bottom" life="2000">
                                        <td align="center">{{dt.year}}</td>
                                        <td align="center">
                                          {{dt.area_queimada | number :'1.2-2' }}
                                          ha</td>
                                      </tr>
                                    </ng-template>
                                  </p-table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style="height: 30vh"></div>
                        </mat-tab>
                      </mat-tab-group>
                    </p-scrollPanel>
                  </mat-tab> -->
                  <mat-tab [label]="'base_maps' | translate">
                    <div class="baseMap" *ngFor="let basemap of basemapsNames">
                      <mat-slide-toggle (change)="baseLayerChecked(basemap, $event)" [(ngModel)]="basemap.visible">
                        {{basemap.viewValue}}
                      </mat-slide-toggle>
                    </div>
                  </mat-tab>
                  <mat-tab [label]="'limits' | translate">
                    <div *ngFor="let limits of descriptor.limits">
                      <div class="baseMap" *ngFor="let name_limits of limits.types">
                        <mat-slide-toggle (change)="limitsLayersChecked(name_limits, $event)"
                          [(ngModel)]="name_limits.visible" class="slideEstados">
                          {{name_limits.Viewvalue}}
                        </mat-slide-toggle>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
            </div>
          </div>
        </mat-drawer>

        <div class="controls">
          <div [matTooltip]="'title_layers_infos' | translate"
            [class]="showLayers ? 'btn-layers btn-layers-active' : 'btn-layers'" (click)="handleDrawer()">
            <img width="40" height="40" src="../../assets/img/btn_layers.svg" [alt]="'title_layers_infos' | translate">
          </div>
        </div>

        <div class="layer-sidenav-content">
          <div id="map" class="dpat-ol-map" [style.height]="(innerHeigth-105) + 'px'">
            <div class="buttonszoom">
              <div [matTooltip]="'btn_clear' | translate" *ngIf="this.selectRegion != this.defaultRegion"
                [class]="'btn-layers'" (click)="updateRegion(defaultRegion)">
                <img width="25" height="25" src="../../assets/img/close-button.svg" [alt]="'btn_clear' | translate">
              </div>
              <div [matTooltip]="'zoom_in' | translate" [class]="'btn-layers'" (click)="zoomIn()">
                <img width="25" height="25" src="../../assets/img/mais.svg" [alt]="'zoom_in' | translate">
              </div>
              <div [matTooltip]="'zoom_out' | translate" [class]="'btn-layers'" (click)="zoomOut()">
                <img width="25" height="25" src="../../assets/img/menos.svg" [alt]="'zoom_out' | translate">
              </div>
            </div>
          </div>
        </div>
      </mat-drawer-container>
    </mat-tab>
    <mat-tab [style]="'height: ' + height + ';' " label="{{'analysis' | translate}}">
      <p-scrollPanel [style]="{height: '100%'}">
        <div [ngbCollapse]="collapseLegends" class="legendasConteudo">
          <h5 class="title-section">{{'legend' | translate}}</h5>
          <mat-expansion-panel [expanded]="layer.visible" *ngFor="let layer of layersNames">
            <mat-expansion-panel-header [collapsedHeight]="'35px'" [expandedHeight]="'35px'"
              class="expansion-header-layer" *ngIf="layer.visible">
              <div>
                <h6 class="expansion-header-layer-legend">
                  <b>{{ layer.label }}</b>
                </h6>
              </div>
            </mat-expansion-panel-header>
            <div *ngIf="layer.visible">
              <img
                src='http://ows.lapig.iesa.ufg.br/ows?EXCEPTIONS=application%2Fvnd.ogc.se_xml&TRANSPARENT=TRUE&VERSION=1.1.1&SERVICE=WMS&REQUEST=GetLegendGraphic&layer={{ layer.selectedType }}&format=image%2Fpng'>
            </div>
          </mat-expansion-panel>
        </div>
        <h5 class="title-section">{{'analysis' | translate}}</h5>
        <div class="chart-region">
          <h5>
            <button [matTooltip]="'region_tooltip' | translate"
              *ngIf="selectRegion.type == 'municipio' || selectRegion.type == 'estado'" color="primary"
              (click)="openRegionReport()" style="font-size: 30px;" mat-icon-button>
              <mat-icon>text_snippet</mat-icon>
            </button>
            <strong> {{ selectRegion.text }} </strong>
          </h5>
        </div>
          <mat-tab-group class="charts" #matgroup>
            <div *ngFor="let groups of descriptor.groups">
              <mat-tab label={{groups.label}} *ngIf="groups.dataService">
                <div *ngFor="let graphic of groups.chartConfig">
                  <div *ngFor="let layer of groups.layers">
                    <div *ngIf="graphic.id == layer.selectedType" class="graphicsBlocks">
                      <div class="graphicTexts">
                        <p style="font-weight: bold">{{graphic.title}}</p>
                        <div>{{graphic.text}}</div>
                        <p-chart *ngIf="graphic.type" [type]="graphic.type" [data]="graphic.data"
                          [options]="graphic.options"></p-chart>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </div>
          </mat-tab-group>
        <div class="logos-cepf">
          <a href="http://cepfcerrado.iieb.org.br/" target="_blank">
            <img class="logo-cepf" src="assets/logo/partners.png" />
          </a>
        </div>
        <div style="height: 20vh"></div>
      </p-scrollPanel>
    </mat-tab>
  </mat-tab-group>
</div>