<app-header-pages></app-header-pages>
<div class="container ">
    <div id="banner-araticum" class="hero-area-bg">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="contents">
                    <h4 class="head-title">{{ 'araticum.about.title' | translate }}</h4>
                    <div class="banner">
                        <img class="img-fluid banner-img" src="assets/img/plataforms/araticum_banner.jpg" alt="">
                    </div>
                    <p style="padding-bottom:5px; text-align:justify">{{ 'araticum.about.text.p1' | translate }}</p>
                    <p style="padding-bottom:5px; text-align:justify">{{ 'araticum.about.text.p2' | translate }}</p>
                    <p style="padding-bottom:5px; text-align:justify">{{ 'araticum.about.text.p3' | translate }}</p>
                    <div class="row justify-content-center header-button">
                        <a href="https://araticum.lapig.iesa.ufg.br/" class="btn btn-border"
                           target="_blank">{{ 'text_button_access_plataform' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="contact" class="hero-area-bg">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="contents">
                    <h4 class="head-title">{{ 'araticum.contact.title' | translate }}</h4>
                    <p [innerHTML]="'araticum.contact.text.p1' | translate"></p>
                </div>
            </div>
        </div>
    </section>
    <section id="developed-by" class="hero-area-bg mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="contents ">
                    <h4 class="head-title">{{ 'araticum.developed_by' | translate }}</h4>
                    <img class="img-fluid banner-img" src="assets/img/plataforms/araticum/marcas.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="supported-by" class="hero-area-bg mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="contents ">
                    <h4 class="head-title">{{ 'araticum.supported_by' | translate }}</h4>
                    <div class="supported-by-img-container">
                        <img class="img-fluid banner-img" src="assets/img/plataforms/araticum/apoio.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="members" class="hero-area-bg mt-8 mb-8">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="contents ">
                    <h4 class="head-title">{{ 'araticum.members.title' | translate }}</h4>
                    <p style="padding-bottom:5px; text-align:justify">{{ 'araticum.members.text' | translate }}</p>
                </div>
            </div>
        </div>
    </section>
    <p class="mt-8 mb-8 disclaimer-message">
        {{ 'araticum.disclaimer_message' | translate }}
    </p>
</div>
<app-footer-pages></app-footer-pages>





